<form n:name=$form>
	<ul class=error n:if="$form->ownErrors">
		<li n:foreach="$form->ownErrors as $error">{$error}</li>
	</ul>
	<table>
		<tr n:foreach="$form->controls as $input" n:class="$input->required ? required">
			<th>{label $input /}</th>
			<td>{input $input} <span class=error n:ifcontent>{$input->error}</span></td>
		</tr>
	</table>
</form>
