{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>
		<link rel="stylesheet" href="{$basePath}/css/style.css">
		<meta name="viewport" content="width=device-width">
		{block head}{/block}
	</head>
	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		{include content}
		{block scripts}
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/main.js"></script>
		{/block}
	</body>
</html>
